# private gateway instance config
*.cfg
WEB-INF/
!WEB-INF/railo/components/railo/extension/gateway/XMPPClientGateway.cfc
!WEB-INF/railo/context/admin/gdriver/XMPPClient.cfc
!WEB-INF/railo/lib/smack-3.4.0.jar
!WEB-INF/railo/lib/smack-config.xml
!WEB-INF/railo/lib/smackx-3.4.0.jar


# memory & snapshots
snapshots/**
GimpyMemory.json

# eclipse settings
.settings/
.project
settings.xml

# personal stuffs
commands/Torrent.cfc
restart.cfm
debug.cfm